<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g1335333249.jdc.monitor.api.mapper.SystemUserMapper">

    <resultMap id="userWithAuthorities" type="com.g1335333249.jdc.monitor.api.entity.SystemUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="enabled" property="enabled"/>
        <result column="account_non_expired" property="accountNonExpired"/>
        <result column="account_non_locked" property="accountNonLocked"/>
        <result column="credentials_non_expired" property="credentialsNonExpired"/>
        <result column="create_time" property="createTime"/>
        <result column="create_id" property="createId"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_id" property="updateId"/>
        <collection property="authorities" column="user_id" select="com.g1335333249.jdc.monitor.api.mapper.SystemAuthorityMapper.getAllAuthorities" ofType="com.g1335333249.jdc.monitor.api.entity.SystemAuthority"/>
    </resultMap>
    <select id="getWithAuthoritiesByUsername" resultMap="userWithAuthorities">
        select * from `system_user`
        where username = #{username}
    </select>
</mapper>
